body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
  background-color: #f3f3f36e;
  padding: 20px 30px;
  border-radius: 15px;
  margin-top: 30px;
  box-shadow: 0px 0px 5px 0px rgba(104, 104, 104, 0.822);
}

form > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 10px;
}

form > h1 {
  font-size: 1.2em;
  text-align: left;
  color: rgb(3, 14, 65);
  margin-bottom: 10px;
}

form > h2 {
  font-size: 0.8em;
  text-align: left;
  color: #727272;
  margin-bottom: 20px;
}

form > div > label {
  color: rgb(3, 14, 65);
  font-size: 0.8em;
  font-weight: 600;
  margin-bottom: 5px;
  margin-left: 15px;
}

form > div > input {
  padding: 10px 15px;
  font-size: 0.8em;
  border-radius: 9px;
  outline: none;
  border: none;
  border: 1px solid #b8b7b7;
  width: 100%;
  background-color: #f3f3f36e;
  color: rgb(3, 14, 65);
  letter-spacing: 1.3px;
}
form > div > span {
  font-size: 0.7em;
  color: rgb(161, 8, 8);
}

form > button {
  padding: 10px 15px;
  font-size: 0.8em;
  border-radius: 9px;
  outline: none;
  border: none;
  width: 100%;
  color: #fff;
  background-color: #04643f;
  margin-top: 15px;
}
